/*-- scss:defaults --*/

//Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Nunito+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$font-family-serif: "Inria", serif; 
//$font-family-sans-serif: "Urbanist", sans-serif;
$font-family-sans-serif: "Nunito", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;


$my-font-size: 25px;
$my-width: 500px;

// Colors
//$color1: #0d0e08;
//$color2: #0d0e08;
$color1: #222222;
$color2: #303030;
$color3: #ffffff;
$color4: #f7d737;
$color5: #e1643c;
$color6: #e1643c;
$color7: #f7d737;
// #6504e3
// Base document colors
$navbar-bg: $color2; // navbar
$navbar-fg: $color4; // navbar foreground elements
$navbar-hl: $color5; // highlight color when hovering over navbar links
$body-bg: $color1; // page background 
$body-color: $color3; // page text 
$footer-bg: $color2; // footer 
$link-color: $color4; // hyperlinks 

// Inline code
$code-bg: $color5; // inline code background color
$code-color: $color7; // inline code text color

// Code blocks
$code-block-bg: $color2; // code block background color


/*-- scss:rules --*/
h1 {
  letter-spacing: 1px;
  color: $color7;
}
h2, h3, h4, h5, h6 {
  letter-spacing: 0px;
  color: $color4;
}

.orange-h1 {
  font-size: 2rem; 
  letter-spacing: 1px;
  color: $color6;
  font-family: "Nunito Sans";
  font-weight: 600 ;
}

.orange-h1-weighted {
  font-size: 2rem; 
  letter-spacing: 1px;
  color: $color6;
  font-family: "Nunito Sans";
  font-weight: 800 ;
  line-height: 2;
}

.yellow-h1-weighted {
  font-size: 2rem; 
  letter-spacing: 0px;
  color: $color4;
  font-family: "Nunito Sans";
  font-weight: 800 ;
  line-height: 2;
}

.orange-h1-thicc {
  font-size: 2rem; 
  letter-spacing: 0px;
  color: $color6;
  font-family: "Source Code Pro";
  font-weight: 600 ;
}

.orange-h2 {
  font-size: 1.5rem; 
  line-height: 0.6;
  letter-spacing: 0px;
  color: $color6;
  font-family: "Nunito Sans";
  font-weight: 600 ;
}

.orange-h2-thicc {
  font-size: 1.5rem; 
  line-height: 0.6;
  letter-spacing: 0px;
  color: $color6;
  font-family: "Source Code Pro";
  font-weight: 300 ;
}

.small-grey-text {
  font-size: 13px; #
  line-height: 0.1;
  color: #BDBDBD;
}

.orange-text {
  color: $color6;
}

.text-scp {
  font-family: "Source Code Pro";
}

.text-no-underline {
  text-decoration: none;
}

.center {
  align-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}
.left-text {
  text-align: left;
}
.text-height2 {
  line-height: 2;
}

// .title {
//  color: $color6;
//}

.description {
  color: $color6;
}

.link-text {
  font-size: 1.5rem; 
  line-height: 0.6;
  color: $color4;
  font-family: "Source Code Pro";
  font-weight: 300 ;
}

.dropdown-menu.show {
  background: $color1;
}

.dropdown-text {
  color: $color4;
}

.dropdown-item:hover {
  background: $color2;
}


.bi-twitter-x {
  background: $color4;
}


//Sidebar TOC
.sidebar nav {

}


// -- Blog Grid Styling -- //
.quarto-grid-item {
  background: $color2;
}

.quarto-grid-item .listing-categories .listing-category {
  color: $color5;
  border-top-color: $color5;
  border-bottom-color: $color5;
  border-left-color: $color5;
  border-right-color: $color5;
}

.listing-author {
  color: $color5;
}

.listing-date {
  color: $color5;
}

.category {
  color: $color5;
}

.quarto-listing-category-title {
  color: $color4;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
 -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


// Buttons
.button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button {
  background-color: $color2; 
  color: $color4;
  padding: 15px 30px;;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 7px 12px 0 rgba(0,0,0,0.19);
}

.button:hover {
  background-color: $color6; 
  color: $color2;
  padding: 15px 31px;;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.5s;
}

@media screen and (max-width: 600px) {
  .button-container {
    align-items: flex-start; 
  }
}